.RegisterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.RegisterPage_from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 1.5em;
    min-width: 40%;
    padding: 50px 0px;
    border-radius: 4px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.089);
}

.RegisterPage_label {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.RegisterPage_input {
   max-width: 500px;
}